:root {
  --main-color : #E3920C;
  --color-title : #484848;
  --color-subtitle : #5E5E5E;
  --color-social : #57c057;
  --bg-color-start : #214FA3;
  --bg-color-end : #CF2E23;
  --bg-color-after-party : #97c33b;
}


// ----------------------------
.section-schedule__background {
  background-color: #F3B011;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 70%, 48% 50%, 0 70%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 70%, 48% 50%, 0 70%, 0 0);
}

.section-schedule {
  padding-top: 10em;
  padding-left: 1em;
  padding-right: 1em;

  /* tag <section> */
  &__content {
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 3em;
    color: var(--color-title);
  }

  &__subtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
  }

  &__tag {
    margin: 2em 0;
    color: var(--color-subtitle);
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em auto;
    padding: .9em;
    max-width: 600px;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }

  &__speaker-content {
    padding: 1em;
    text-align: center;
  }

  /* contenedor de imagen speaker */
  &__speaker-img {
    width: 150px;
    height: auto;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  &__speaker-name {
    margin: .5em 0;
    font-size: 1.5em;
    color: var(--color-subtitle);
  }

  &__speaker-social a {
    text-decoration: none;
  }
  &__speaker-social i {
    color: var(--color-social);
    font-size: 1.5em;
  }

  &__information {
    padding: 0 .9em;
    text-align: center;
    /* estilos para la hora */
    & .section-schedule__data {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      max-width: 200px;
      color: var(--main-color);
    }
  }

  &__activity {
    // margin: .7em 0;
    color: var(--color-title);
    font-size: 1.5em;
  }

  &__description {
    font-size: 1em;
    text-align: left;
  }

  &__start-time, &__end-time {
    margin: .8em !important;
    font-family: sans-serif;
    font-size: 1.2em;
    color: var(--main-color);
  }

  i[class^="icon-"] {
    position: relative;
    top: .1em;
  }

  .start-event,
  .end-event {
    padding: .5em;
    border-radius: 10px;
    color: #f2f2f2;
  }
  .start-event {
    background-color: var(--bg-color-start);
  }
  .end-event{ background-color: var(--bg-color-end); }
  .red{ background-color: var(--bg-color-end); }
  .after-party{ background-color: var(--bg-color-after-party); }
  .green {
    background-color: #52C75A;
  }

  &__ul {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__li { list-style-type: none; }


  @media only screen and (min-width : 690px ) {

    & { padding-top: 20em; }

    .section-schedule__background {
      height: 300px;
    }

  }

  @media only screen and (min-width : 960px) {

    .section-schedule__background {
      top: 10%;
    }

    &__content {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__card {
      margin: 2em;
      min-width: 800px;
    }

    &__speaker-img { width: 250px; }

    &__li {
      list-style-type: none;
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 0;
    }

    /* icono */
    &__ul li::after {
      content: '';
      position: absolute;
      display: flex;
      left: -10px;
      transform: translateX(50%);
      transform: rotate(45deg);
      width: 25px;
      height: 25px;
      background: var(--main-color);
    }

    /* linea */
    &__ul li::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background: var(--main-color);
    }

    &__li:last-child::before {
      top: -1px;
      height: 50%;
    }

    &__information &__data {
      position: absolute;
      left: -6%;
      top: 50%;
      transform: translate(-50%, -50%);
      flex-wrap: wrap;
      max-width: 100px
    }

    &__start-time,
    &__end-time {
      margin-top: .2em;
      margin-bottom: .2em;
    }
  }
  .day-picker {
    .pick-day {
      cursor: pointer;
      background-color: #214fa3;
      padding: .5em;
      border-radius: 10px;
      color: #f2f2f2;
      margin: 0 10px;
      min-width: 90px;
      font-weight: bold;
      &:hover {
        background-color: #4d7dd4;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .section-schedule {
    &__card {
      display: flex;
      flex-direction: column;
      &.single {
        flex-direction: row;
      }
    }
    &__speaker-content {
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
