.stamp_co {
  margin-top: -15%;
  height: 220px;
  margin-right: 20px;
  background: #f7e9d0;
  border-radius: 50%;
  padding: 0 5px;
  padding-top: 15px;
}

.nodeconf{
  margin-top: 100px;
  margin-right: 40%;
}