.section-cfp {

  @media screen and (min-width : 64em) {
    max-width: 75%;
  }
  
  &__title{
    color: var(--four);
    text-align: left;
  }

  &__subtitle{
    margin-bottom: var(--gutter);
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: var(--bold);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .submit {
      border: 2px solid var(--primary);
      background-color: var(--four);
      font-family: var(--font-subtitle);
      font-weight: var(--normal);
      font-size: 18px;
      color: var(--primary);
      width: fit-content;
      cursor: pointer;
      padding: .3em 1.2em;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--secondary);
        color: #fff;
      }
    }
  }

  .dates {
    display: flex;

    .when {
      color: var(--secondary);
      line-height: 1.3;

      &.closes {
        margin-left: 80px;
      }

      .date {
        color: #000000cc;
      }
    }
  }
  .text-muted {
    color: #888;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
