.top-info-component {
  &.top-info {
    min-height: 700px;
    background: url(../../assets/images/ruta-n-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    margin-top: 185px;
    .desc {
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      color: #fff;
      background-color: #00000061;
      .data {
        font-size: 3rem;
        line-height: 1.5;
        .get-your-tickets {
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 5px;
          color: #fff;
          background-color: #53c75a;
          border-color: #53c75a;
          margin-top: 30px;
          font-size: 1.5rem;
          padding: 5px 20px;
          &:hover {
            background-color: #44af4a;
            border-color: #44af4a;
          }
          .right-arrow {
            margin-left: 30px;
          }
        }
      }
    }

    .dates {
      flex: 1;
      background: url(../../assets/images/programacion.png);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #00000061;
    }
  }
}

@media only screen and (max-width: 1140px) {
  .top-info-component {
    &.top-info {
      margin-top: 116px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .top-info-component {
    &.top-info {
      .desc {
        .data {
          padding-left: 20%;
        }
      }
      .dates {
        background-size: 70%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .top-info-component {
    &.top-info {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .top-info-component {
    &.top-info {
      flex-direction: column;
      .desc {
        .data {
          padding-left: 0;
          font-size: 2.2rem;
        }
      }
      .dates {
        min-height: 400px;
        background-size: 65%;
      }
    }
  }
}