.top-info-component {
  &.top-info {
    min-height: 600px;
    background: url(../../assets/images/slider-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 185px;
    .desc {
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      color: #fff;
      .data {
        font-size: 3rem;
        line-height: 1.5;
        .get-your-tickets {
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 5px;
          color: #fff;
          background-color: #53c75a;
          border-color: #53c75a;
          margin-top: 30px;
          font-size: 1.5rem;
          padding: 5px 20px;
          &:hover {
            background-color: #44af4a;
            border-color: #44af4a;
          }
          .right-arrow {
            margin-left: 30px;
          }
        }
      }

    }

    .dates {
      flex: 1;
      background: url(../../assets/images/dates.png);
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
