.tuned-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 30px;

  .social {
    color: #484848;
    .tuned {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .email {
      font-weight: bold;
      padding: 10px 0;
    }
    .networks {
      a {
        text-decoration: none;
      }
      .icon-twitter {
        font-size: 30px;
        color: #484848;
      }
    }
  }

  .enter-email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #2b2b2b;
    .signup {
      font-size: 1.3rem;
      width: 100%;
    }
    .email-input {
      background-color: #e9e9e9;
      margin: 20px 0;
      border-radius: 5px;
      border: none;
      padding: 10px 20px;
      font-size: 1.1rem;
      min-width: 300px;
    }
    .signup-button {
      cursor: pointer;
      width: fit-content;
      background-color: #97c33b;
      color: #fff;
      border-radius: 5px;
      border: none;
      padding: 10px 20px;
      font-size: 1.1rem;
      &:hover {
        background-color: #52c75a;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    .social {
      text-align: center;
      margin-bottom: 20px;
    }
    .enter-email {
      align-items: center;
      .signup {
        width: fit-content;
      }
    }
  }
}
