.Stay-tuned {
    position: absolute;
    padding-top: 20px;
    //padding: 50px;
    left: 290px;

    h2 {
        text-align: left;
        color: #484848;
        font-size: 42px;
        line-height: 0.3;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }

    p {
        margin: 0 0 30px;
        line-height: .9;
        margin-bottom: 0;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .Stay-Signup {
        position: relative;
        left: 480px;
        bottom: 122px;

        p {
            margin: 0 0 30px;
            line-height: 0.9;
            margin-bottom: 0;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }

        .Stay-btn-signup {
            display: inline-block;
            margin-top: .9em;
            padding: .2em 1em;
            border-radius: 15px;
            color: #f2f2f2;
            font-weight: 700;
            background-color: #97c33b;
            font-family: sans-serif;
            transition: .4s all;
            text-decoration: none;
            position: relative;
            right: 90px;
            top: 50px;

            &:hover {
                background-color: #52c75a;
            }
        }

        .Stay-input-signup {
            border-radius: 8px;
            padding: .1em 4em;
            background-color: #e2e1e1;
            border: lightgray;
            text-align: left;
        }
    }

    .icons{
        display: flex;
        .fb{
            float: left;
            width: 25px;
            margin-top: 2px;
            margin-right: 10px;
            
        }
        .ig{
            float: right;
            width: 25px;
            margin-top: 2px;
            margin-right: 10px;
        }
        .tw{
            float: right;
            width: 25px;
            margin-top: 2px;
        }
        
    }
}