.Team-component {
  padding-top: 10em;
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    text-align: center;
    color: #484848;
    font-size: 42px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }

  .team-avatar {
    // margin: 1.5em auto;
    max-width: 400px;
    height: auto;
    position: relative;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #121112;
      opacity: 0.3;
      z-index: 100;
    }

  }

  .team-top {
    background-color: #214fa3;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 70%, 48% 50%, 0 70%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 48% 50%, 0 70%, 0 0);
  }

  .team-content{
    margin: 0 auto;

   .team-members {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2em auto;
      padding: .9em;
      max-width: 400px;

    .team-data {
      text-align: center;
    }

    .team-description {
      line-height: 1.9;
      height: 270px;

      h3 {
        text-align: center;
        color: #484848;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
      }

      p {
        color: #484848;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }

      a {
        color: #484848;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        text-decoration: none;
      }

      .team-role {
        h4 {
          margin: 0;
          font-family: "Nunito", sans-serif;
          font-weight: 700;
        }

      .Social {
        i {
          font-size: 2em;
          color: #52c75a;
        }
      }

    }
   }
  }
}

@media only screen and (min-width : 690px ) { 

  & { padding-top: 15em; } 

  .team-top { 
    height: 300px;
  }

}

@media only screen and (min-width : 1027px) { 

  & { padding-top: 20em; } 

  .team-top { 
    top: 10%;
  }

  .team-content { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
  }


  }

}