.about-component {
  clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 100%, 0 100%, 0 5%);
  background-color: var(--primary);

  &.about {

    .title {
      color: var(--four);
    }

    .description {
      color: var(--v-primary);
      font-size: 18px;

      &.pictures-2019 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        font-size: 24px;
      }

      .pictures {
        // border: 1px solid #fff;
        background-color: var(--four);
        font-family: var(--font-subtitle);
        font-weight: var(--normal);
        font-size: 18px;
        color: rgb(23, 99, 46);
        width: fit-content;
        cursor: pointer;
        padding: .3em 1.2em;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          background-color: var(--secondary);
          color: #fff;
        }
      }
    }
  }
}
