.About-component{
    background-color: #97c33b;    
    justify-content: center;
    color: white;
    padding: 120px;
    text-align:center;
    margin-top: -70px;
    -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 85%, 50% 100%, 0 85%, 0 12%);
    clip-path: polygon(50% 0%, 100% 12%, 100% 85%, 50% 100%, 0 85%, 0 12%);
    p{
        //margin: 0 0 30px;
        line-height: 1.6;
        font-family: 'Montserrat',sans-serif;
        font-size: 24px;
        padding-top: 60px;
        font-weight: 400;
    }
}

.About-title{
    text-align: center;
    color: #484848;
    font-size: 42px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}