.btn {
  color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.cfp-btn {
  border-color: #1D428B;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  background-color: #2459B6;
}
.cfp-btn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #1B3B7E;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.cfp-btn:hover {
  color: #fff;
}
.cfp-btn:hover:after {
  width: 110%;
}

.tickets-btn {
  border-color: #799b30;
  border-radius: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  background-color: #97C339;
}
.tickets-btn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #658916;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.tickets-btn:hover {
  color: #fff;
}
.tickets-btn:hover:after {
  width: 110%;
}
