.custom-body {
    margin-top: -160px;
}

.owl-dots {
    display: none;
}

.sticky-wrapper {
    top: 160px;
    position: relative;
}
.custom-body #navigation {
	font-family: 'Nunito', sans-serif;
}
#navigation li.active{
    text-decoration: underline #a3c525;

}
.header-wrapper{
    background: url(../images/menu-w.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.sticky-wrapper #navigation {
    padding-top: 0;
    top: -15px;
}
.menu-tickets{
    background: url(../images/tickets.png) 50% 15% no-repeat;
    height: 100px;
    color: #fff!important;
}
.menu-size{
    /* margin-top: -5%; */
}

#navigation.small-screen #menu-button{
    color: #a3c525;
    background-color: #ebebeb;
}
#navigation.small-screen #menu-button:after{
    border-top: 2px solid #a3c525;
    border-bottom: 2px solid #a3c525;
}
#navigation.small-screen #menu-button:before{
    background: #a3c525;
}

#navigation.small-screen ul li a, #navigation.small-screen ul ul li a{
    color: #a3c525;
    background-color: #ebebeb;
}
#navigation.small-screen ul li{
    color: #fff;
}

#navigation.small-screen #menu-button.menu-opened:after,
#navigation.small-screen #menu-button.menu-opened:before{
    background: #a3c525;
}
#navigation.small-screen ul li a, #navigation.small-screen ul ul li a.menu-tickets{
    text-align: center;
}

/* //? */
.logo{
    margin-left: 9%;
}
.slider {
    margin: 0;
    height: auto;
    margin-top: -12%;
    width: 100%;
    /* margin-bottom: -6.1%; */
}
.custom-home {
    margin-top: -12%;
    position: relative;
    bottom: -152px;
}
.space-medium {
    margin: 0 auto;
  }

  .space-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 0;
  }

  .space-medium:nth-of-type(3) {
    background: url(../images/about.png) 0% 0% no-repeat;
    background-size: 100%;
    background-repeat: round;
  }

  .space-medium:nth-of-type(4) {
    background: transparent;
  }

  .space-medium:nth-of-type(5) {
    background: url(../images/venue.png) 0% 0% no-repeat;
    background-size: 100%;
    background-repeat: round;
  }

  .space-medium:nth-of-type(6) {
    background: #fff;
  }

  .space-medium:nth-of-type(7) {
    background: url(../images/tikets.png) 0% 0% no-repeat;
    background-size: 100%;
    background-repeat: round;
  }
  .footer {
    background: url(../images/footer.png) 0% 0% no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .width-10 {
    width: 10%;
    margin-left: 12%;
  }
  .width-17 {
    width: 17%;
  }
  .margin-t14 {
  margin-top: 14%;
}

  /* about */

/* //speakers */
.speakers{
    color: #181c18;
    font-family: 'Nunito', sans-serif;
}
.service-content {
    padding: 10px;
}

/* venue */
#venue {
    /* background: url(../images/venue.png) 0% 0% no-repeat; */
}
#venue .container {
    min-height: 550px;
    display: flex;
    align-items: center;
}
#venue img {
    width: auto;
}
.venue-section {
    padding: 0;
}
.venue-row {
    display: flex;
    align-items: center;
}
.venue-description {
    display: flex;
    align-items: center;
}
.venue-description  p {
    font-size: 14px;
}
.venue-section {
    padding-bottom: 55px;
    padding-top: 55px;
}
p.venue-title {
    display: flex;
    align-items: center;
    font-size: 39px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}


/* sponsors */
#sponsors .container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sponsors .service-img {
    display: flex;
    justify-content: space-between;
}
#sponsors .service-img  {
    display: flex;
    align-items: center;
}
#sponsors .service-img img {
    max-height: 60px;
}

/* tickets */
#tickets .container {
    min-height: 550px;
    display: flex;
    align-items: center;
}
#tickets .tickets-row {
    width: 100%;
    display: flex;
    align-items: center;
}
#tickets .title {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
#tickets .ticket-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#tickets .prices {
    display: flex;
    justify-content: space-between;
}
#tickets .ticket-price {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
#tickets .btn-get-ticket {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
 #tickets .ticket-price:first-child {
     border-right: 3px solid #fff; 
    margin-right: 20px;
}
#tickets .price {
    font-weight: 900;
    color: #4a4a4a;
    font-size: 40px;
    align-items: center;
    margin-right: 10px;
}
#tickets .price-desc {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
#tickets .early-price {
    font-weight: 100;
    font-size: 15px;
}
#tickets .buy-tickets {
    background-color: #9ec95a;
    color: #fff;
    border-bottom: 2px solid #956400;
    width: fit-content;
    padding: 5px 40px;
    cursor: pointer;
}
#tickets .sold-tickets {
    background-color: #81a548;
    color: #fff;
    border-bottom: 2px solid #956400;
    width: fit-content;
    padding: 5px 40px;
    cursor: pointer;
}
/* footer */
.btn-sign-up {
    background-color: #878383;
    color: #fff;
    margin-left: -6px;
}
/* mouse over link */
.footer a:hover, .footer a:visited   {
    color: #000;
}
.footer-social {
    margin-top: 0;
}

/* //generales */
h1, h2, h3, h4, h5, p, a, span, button, label, input {
    font-family: 'Nunito',sans-serif;
}
.right{
    text-align: right;
}
.non-margin{
    margin: 0;
}
.non-padding{
    padding: 0;
}
.center {
    align-items: center;
}
.margin-top-15 {
    margin-top: 15px;
}

.margin-left-350 {
    margin-left: 350px;
}
.font-grey {
    color: #c1c1c1;
}

.font-grey-dark {
    color: #878383
}
.mce_inline_error {
    color: #ad0e0e;
}
.text-align-center {
    text-align: center;
}
.font-green-dark {
    color: #475a4f;
}
.no-break {
    white-space:nowrap;
}
/* text */
#navigation>ul>li>a {
    color: #484848;
    font-size: 16px;
    text-transform: lowercase;
}

.section-title-custom {
    color: #484848;
    font-size: 39px;
    color: #484848;
}

.sub-title-custom {
    color: #484848;
    font-size: 31px;
}
.general-text {
    color: #484848;
    font-weight: 500;
    color: #484848;
}
.padding-top-30 {
    padding-top: 30%;
}
.font-size-23 {
    font-size: 23px;
}
.font-size-39 {
    font-size: 39px;
}


/* Media query */
@media only screen and (max-width: 991px) {
    .header-wrapper {
        background-size: cover;
    }
    .header-wrapper .container .logo img {
        width: 35%;
    }
    .custom-body {
        margin-top: 0;
    }
    .menu-size {
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
    }
    .sticky-wrapper {
        position: initial;
    }

    #navigation {
        padding-top: 0;
    }
    #navigation.small-screen .menu-opened, #navigation.small-screen .open {
        z-index: 3;
    }
    #navigation.small-screen #menu-button {
        margin-top: 0;
    }
    .logo {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }
    .custom-home {
        position: initial;
        margin: 0;
        margin-top: 100px;
    }
    .slider .owl-carousel .owl-item img {
        min-height: 450px;
    }
    .slider .owl-carousel .owl-item .slider-captions img {
        min-height: 120px;
        height: 150px;
        max-width: 300px;
    }
    .slider-captions {
        bottom: 120px;
        left: 0;
        text-align: center;
    }
    .space-medium:nth-of-type(3) {
        background-size: cover;
        background-repeat: round;
    }

    #about {
        margin-top: -80px;
    }
    #about .about-row {
        padding: 100px 0;
    }

    #about .section-title {
        margin-bottom: 0;
        font-size: 1.4rem;
        padding-top: 60px;
        text-align: justify;
    }
    #about .section-title h1 {
        text-align: center;
    }

    #speakers .speaker {
        align-items: center;
    }
    #speakers .speaker-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #venue .venue-row {
        padding-top: 120px;
        padding-bottom: 80px;
    }
    .space-medium:nth-of-type(5) {
        background-size: cover;
        background-repeat: round;
    }

    #sponsors .service-img {
        flex-direction: column;
    }
    #sponsors .service-img a {
        padding: 20px 0;
    }
    .space-medium:nth-of-type(7) {
        background-size: cover;
        background-repeat: round;
        padding-bottom: 140px;
    }

    #tickets .container {
        padding: 0;
    }
    #tickets .tickets-row {
        flex-direction: column;
        font-size: 1.4rem;
        padding-top: 200px;
        margin: 0;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    #tickets .prices {
        flex-direction: column;
    }
    #tickets .ticket-price {
        padding: 20px 0;
        flex-direction: column;
        margin: 0;
    }
    #tickets .ticket-price:first-child {
        border: none;
    }
    #tickets .ticket-price span {
        padding: 10px 0;
    }
    #tickets .buy-tickets {
        margin: 0 auto;
        font-size: 2.5rem;
        margin-top: -20px;
        justify-content: center;
    }
    #tickets .btn-get-ticket {
        justify-content: center;
    }
    #tickets .price-desc p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 678px) {
    .header-wrapper {
        padding: 0;
        background: none;
    }
    .header-wrapper .container {
        padding: 0;
    }
    .header-wrapper .container .logo img {
        width: 40%;
    }
    .slider-captions {
        bottom: 140px;
    }
    .custom-home {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 500px) {
    .header-wrapper .container .logo img {
        width: 60%;
    }
}
