.section-tickets {
  padding: 1em;
  text-align: center;
  width: 80%;


  &__data {
    padding-top: 50px;
    text-align: center;
    color: var(--secondary);
    text-transform: uppercase;
  }

  &__subtittle {
    padding-bottom: 1em;
  }

  .inner-wrap-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content-ticket {
    width: 300px;
  }

  .ticket-soul-out {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__out-ticket {
    display: block;
    margin: 1em;
    padding: 0.5em;
    background-color: var(--secondary);
    color: var(--v-primary);
    text-align: center;
    font-family: var(--font-subtitle);
    text-decoration: none;
    cursor: default;
  }

  &__price {
    font-weight: var(--bold);
    padding-bottom: 4px;
  }

  .submit {
    background-color: var(--four);
    font-family: var(--font-subtitle);
    font-weight: var(--normal);
    font-size: 18px;
    color: var(--primary);
    width: fit-content;
    cursor: pointer;
    padding: 0.3em 1.2em;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgb(23, 99, 46);
      color: #fff;
    }
  }
}
