// Breakbpoints
$xs-screen: 360px;
$s-screen: 425px;
$md-screen: 768px;
$lg-screen: 1024px;

$ff-base: 'Montserrat', sans-serif;
$ff-forms: 'Roboto', sans-serif;
$fs-normal: 15px;
$fw-normal: 400;
$fw-bold: 700;
$lh-normal: 30px;
$ls-h1: 2.5px;

// Colors: https://www.canva.com/
$dark-slate: #546C5C;
$dim-gray: #615751;
$light-gray: #D3D6D4;
$black: #2A2726;
$gray: #767775;
