.header-component {
  &.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    top: 0;
    
    .logo {
      max-width: 130px;
      max-height: 200px;
      width: 170px;
      img {
        margin-bottom: 0;
      }
    }

    .menu-item {
      // margin: 0 10px;
      min-width: 10%;
      // text-align: center;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #515151;
        font-weight: 500;
        font-size: 1.1rem;
        &:hover {
          color: #9dc533;
        }
      }
      &.active {
        a {
          border-bottom: 3px solid #9dc533;
          padding-bottom: 5px;
          border-radius: 2px;
        }
        .tag-tickets {
          border: none;
        }
      }
      .tag-tickets {
        border: none;
        position: relative;
        color: #FFF;
        font-weight: 700;
        &:hover {
          color: #515151;
        }
        &::after {
          content: '';
          position: absolute;
          background-color: #52C75A;
          display: block;
          left: 50%;
          top: 10%;
          padding: .9em .5em; 
          width: 90px;
          height: 95px;
          transform: translate(-50%, -10%);
          z-index: -100;
          padding: .9em .4em;
          -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 56% 75%, 46% 75%, 0 44%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 43%, 56% 75%, 46% 75%, 0 44%, 0 0);
        }
      }
    }

    &.header-small {
      .logo {
        max-width: 85px;
        max-height: 90px;
        width: 85px;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .header-component {
    &.header {
      flex-wrap: wrap;
      .logo {
        max-width: 70px;
        max-height: 100px;
        width: 70px;
      }
      .menu-item {
        // margin: 0 10px;
        a {
          font-size: 0.8rem;
        }
        &.tickets {
          min-width: 8%;
          .tag-tickets{
            font-size: 0.7rem;
            &:after {
              width: 60px;
            }
          }
        }
      }
      &.header-small {
        .logo {
          max-width: 70px;
          max-height: 100px;
          width: 70px;
        }
        .menu-item {
          // margin: 0 10px;
          a {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .header-component {
    &.header {
      &.mobile {
        height: 50px;
        position: absolute;
        width: fit-content;
        right: 0;
        
        .menu-item {
          a {
            font-size: 1.1rem;
          }
        }

        &.mobile-menu-toggle {
          position: fixed;
          right: 10px;
          top: 10px;
          color: #FFF;
          font-size: 26px;
          padding: 12px 15px;
          cursor: pointer;
          transition: all .2s ease;
          background-color: transparent;
          text-shadow: 1px 1px 2px black;
          &.active {
            right: 100%;
          }
        
          .icon-menu {
            transition: all .4s ease;
            height: 26px;
            width: 26px;
            &.hidden {
              opacity: 0;
            }
          }
          img {
            width: 34px;
            height: 34px;
            border-radius: 100%;
            border: 1px solid #fff;
          }

          .mobile-menu {
            display: block;
            text-shadow: none;
            color: #000;
        
            .logo-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 20px;
        
              i {
                color: white;
                cursor: pointer;
              }
            }
        
            .main-nav_item {
              display: block;
              padding: 12px 20px;
              text-align: left;
              font-size: 16px;
        
              &:last-child {
                margin-bottom: 20px;
              }
            }
          }
          .main-nav {
            position: fixed;
            z-index: 10;
            flex-direction: column;
            justify-content: start;
            min-height: 100vh;
            width: 100%;
            top: 0;
            right: -100%;
            background-color: #163366;
            transition: all .4s ease;
            .mobile-menu {
              width: 100%;
              .logo-wrap, .items {
                width: 100%;
              }
              .white {
                background-color: #fff;
                border-bottom: solid 1px #e7eef9;
                i {
                  color: #3b3f79;
                }
              }
            }
            .main-nav_item {
              width: 100%;
              text-align: left;
              font-size: 18px;
              padding: 1.3em;
              font-weight: 100;
              color: #fff;
              &:hover {
                background-color: rgba(0, 0, 0, .1);
              }
            }
            .auth-menu {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              flex-direction: column;
              order: -1;
              margin-left: 0;
              background-color: #fff;
              padding-left: 0;
              justify-content: flex-start;
              .logo-wrap {
                display: flex;
                justify-content: flex-end;
                width: fit-content;
                right: 0;
                position: absolute;
                padding-top: 20px;
                i {
                  color: #163366;
                }
              }
              .items {
                padding-left: 1.3em;
                padding-right: 1.3em;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .logo {
                  width: 50%;
                  max-width: none;
                  max-height: none;
                }
                .mobile-menu-signup {
                  width: 100%;
                  font-size: 15px;
                  height: 40px;
                }
                .tag-tickets-mobile {
                  position: relative;
                  color: #fff;
                  font-weight: 700;
                  background-color: #52C75A;
                  -webkit-clip-path: polygon(30% 16%, 70% 16%, 100% 41%, 100% 60%, 70% 80%, 30% 80%, 0 60%, 0 39%);
                  clip-path: polygon(30% 16%, 70% 16%, 100% 41%, 100% 60%, 70% 80%, 30% 80%, 0 60%, 0 39%);
                  display: block;
                  width: 150px;
                  height: 95px;
                  line-height: 95px;
                  text-align: center;
                }
              }
              .main-nav_item {
                color: #163366;
                width: 100%;
                max-width: 100%;
                border-bottom: solid 0.9px #ecf4fb;
                padding: 1.3em 0;
                &:last-child {
                  margin-bottom: 0;
                }
              }
              .login-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: -1;
                padding: 0;
                .ant-btn {
                  margin-left: auto;
                }
                div {
                  width: 100%;
                  padding: 20px 0px;
                }
              }
            }
            &.active {
              right: 0;
              z-index: 200;
            }
          }
          .mobile-menu {
            overflow: scroll;
            height: 100vh;
            &.authenticated {
              background-color: #fff;
              overflow-y: scroll;
              .logo-wrap {
                .__text {
                  color: #163366;
                  display: flex;
                  align-items: center;
                  font-size: 18px;
                }
                img {
                  width: 34px;
                  height: 34px;
                  margin-right: 15px;
                  border-radius: 50%;
                }
                .icon-close {
                  color: #080957;
                  font-size: 20px;
                }
              }
              .menu {
                color: #a2aec2;
                line-height: 2;
                font-weight: 100;
                border-bottom: solid 0.9px #ecf4fb;
                cursor: default;
                &.menu-info-visible {
                  display: initial;
                }
                .user-info {
                  padding: 15px;
                }
                .link {
                  color: #24b5fb;
                  border-top: solid 0.9px #ecf4fb;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  min-height: 60px;
                  padding: 0 15px;
                  cursor: pointer;
                  .icon {
                    height: 14px;
                  }
                  .icon-angle-right-1 {
                    color: #becee6;
                  }
                  span {
                    margin-left: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
